<%- include('../partials/head') %>
	</head>
	<body>
		<%- include('../partials/nav') %>
		<section class="bg-gray-100 min-h-screen font-sans">
			<main class="container mx-auto max-w-6xl py-8 px-4">
				<h2 class="text-6xl font-semibold mb-6 text-center">
				Here are your Favorites!
				</h2>
				<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
					<% favoriteHomes.forEach((home)=>{ %>
					<div class="rounded-lg bg-red-50 overflow-hidden cursor-pointer hover:shadow-md transition duration-300 ease-in-out p-8">
						<div class="relative">
							<img src="<%= home.photoUrl %>" alt="<%= home.houseName %>" class="w-full aspect-[4/3] object-cover">
						</div>
						<div class="py-2">
							<div class="flex justify-between items-start">
								<h3 class="font-medium text-gray-900"><%= home.houseName %></h3>
								<span class="flex items-center text-sm">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4"></svg>
										
									</svg>
									<%= home.rating %>
								</span>
							</div>
							<p class="text-gray-500 text-sm"><%= home.location %></p>
							<p class="text-gray-900 mt-2">$<%= home.price %> <span class="text-gray-500">night</span></p>
						</div>
					
						<form action="/favorites/remove-favorite/ <%= home.id %>" method="post">
							<button type="submit" class="p-2 px-4 bg-red-400 hover:bg-red-500 text-white rounded cursor-pointer">Remove from Fav</button>
						</form>
					
					</div>
					<% }); %>
				</div>
			</main>
		</section>
	</body>
</html>
